<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<filter>
	    <filter-name>springSessionRepositoryFilter</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>springSessionRepositoryFilter</filter-name>
	    <url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath://app-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath://logback.xml</param-value>
	</context-param>
	<listener>
		<listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- authorize -->
	<filter>
		<filter-name>authorizeFilter</filter-name>
		<filter-class>com.sl.web.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authorizeFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authorizeFilter</filter-name>
		<url-pattern>/main/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath://servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/auth/*</url-pattern>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>/main/*</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
    	<location>/404.html</location>
  	</error-page>
  	<error-page>
    	<error-code>500</error-code>
    	<location>/404.html</location>
  	</error-page>
  	<error-page>
    	<error-code>404</error-code>
    	<location>/404.html</location>
  	</error-page>
  	<error-page>
    	<error-code>401</error-code>
    	<location>/404.html</location>
  	</error-page>
  	
  	<!-- 首页。 注意，此处的页面不能被 spring 的 servlet 拦截到-->
  	<welcome-file-list>
		<welcome-file>./signin.html</welcome-file>
	</welcome-file-list>
</web-app>